.sidebar {
    position: fixed;
    top: 100px;
    bottom: 3px;
    left: 0;
    padding: 50px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 180px;
    z-index: 600;
    }

    /* .but1 {
        color: white;
        font-size: large;
        font-display: white;
    }

    .but2 {
        color: white;
        font-size: large;
        font-display: white;
    }

    .but3 {
        color: white;
        font-size: large;
        font-display: white;
    }

    .but4 {
        color: white;
        font-size: large;
        font-display: white;
    }

    .header {
        position:fixed;
        width:3%;
    } */

    

    
    
    
    
    
    
    



    